<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hwhl.shengxian.mapper.system.LogMapper">

    <insert id="saveLog">
      insert into notesnic_service_log(userid,module,method,rsponse_data,data,commite)VALUES(#{userid},#{module},#{method},#{rsponse_data},#{data},#{commite})
    </insert>

    <select id="findLogList" resultType="com.hwhl.shengxian.entity.system.LogEntity">
        select id,userid,module,method,rsponse_data,data,commite from notesnic_service_log
        where 1=1
        <if test="name != null and name != ''">
            and userid like CONCAT( '%',#{name},'%')
        </if>
        order by data desc limit #{startIndex},#{pageSize}
    </select>

    <select id="findLogListCount" resultType="Integer">
        select count(id) from notesnic_service_log
        where 1=1
        <if test="name != null and name != ''">
            and userid like CONCAT( '%',#{name},'%')
        </if>
    </select>

</mapper>